body {
    font-family: "Barlow", Sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.container {
    text-align: center;
}
#logo {
    max-width: 200px;
    margin-bottom: 20px;
}
#controlForm {
    margin-bottom: 20px;
}

#controlForm input,
#controlForm button {
    font-family: "Barlow", Sans-serif;
    font-weight: 500;
    display: block; 
    margin: 0 auto; 
    margin-top: 1%;
    width: 150px;
    height: 30px;

}

#controlForm button:hover {
    background-color: #6b30c4;
}